.splashContent, .loginHolder {
display: flex;
justify-content: space-evenly;
align-items: center;

  
}

.splashContent>div {
  border: 2px solid #000;
  
}

.quickSell, .register {
  padding: 3%;
  
}


